$light-color: #f5f5f5;
$dark-color: #1e1e1e;
$mid-color : #EAEAEA;
$primary-color :#0074E1;



.light-theme {
    color: $dark-color;
    background: $mid-color;
}

.dark-theme {
    color: $light-color;
    background: $dark-color;
}

.light-theme-text {
    color: $dark-color;
}

.dark-theme-text {
    color: $light-color;
}