// main
.main-business {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow-y: auto;
  flex: 1;
  .header-content {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    .header-profile {
      display: flex;
      align-items: center;
      img {
        width: 100px;
        margin: 0 10px;
      }
      h1 {
        text-transform: capitalize;

        font-size: 25px;
      }
      h2 {
        text-transform: capitalize;

        font-size: 15px;
      }
    }

    .header-contact {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      padding: 20px 10px;
      .contact-item {
        display: flex;
        align-items: center;
        i {
          margin: 0 10px;
          font-size: 18px;
        }
      }
      .header-info-location {
        text-transform: capitalize;
      }
    }
    .header-tools {
      display: flex;
      justify-content: center;
      .header-qr-code {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100px;
          height: 120px;
        }
        margin: 0 30px;
      }

      .header-quick-access {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        i {
          font-size: 15px;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .business-nav {
    width: 100%;
    padding: 0 10px;
    background: $mid-color;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      margin: 0 150px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        white-space: nowrap;
        font-size: 14px;
        &:hover {
          background: $secondary-color;
        }
        a {
          display: block;
          padding: 10px;
        }
      }
      .header-nav-selected {
        position: relative;
        // color: $primary-color;
        background: $secondary-color;
        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: 20px;
        //   left: 50%;
        //   transform: translateX(-50%);
        //   border: 50px solid #dd080800;
        //   border-top: 50px solid $mid-color;
        //   z-index: -1;
        // }
      }
    }
  }
  .main-contents {
    width: 100%;
    padding: 25px 5%;
    p {
      text-align: justify;
      strong {
        display: inline-block;
        font-weight: bold;
        margin-top: 5px;
        font-size: 14px;
      }
    }
    // details card
    .details-card {
      margin-bottom: 40px;
      h2 {
        font-size: 18px;
        margin: 10px 0;
        font-weight: bold;
      }
      p {
        font-size: 13px;
      }
    }

    // main contacts
    .main-contacts {
      width: 100%;
      margin: 10px 0;
      font-size: 14px;
      h3 {
        margin-bottom: 20px;
        font-size: 18px;
      }
      .contact-info {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
        font-size: 14px;
        .contact-info-details {
          .info-details-card {
            display: flex;
            align-items: start;
            margin-bottom: 20px;
            i {
              margin-right: 10px;
              font-size: 14px;
            }
          }

          // social media
          .contacts-social-media {
            flex-direction: row;
            justify-content: start;
            font-size: 18px;
            i {
              margin-right: 20px;
              font-size: 20px;
              transition: 0.5s;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }

        // google map
        .contact-info-map {
          width: 100%;
          display: flex;
          align-items: end;
          justify-content: end;
          iframe {
            border: none;
            align-self: self-end;
            border-radius: 20px;
            width: 100%;
            min-height: 300px;
          }
        }
      }
    }

    //main services
    .main-services {
      margin-bottom: 30px;
      .service-card {
        min-height: 400px;
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        margin-bottom: 50px;
        .service-img {
          padding: 15px;
          width: 100%;
          display: flex;
          justify-content: end;
          img {
            border-radius: 20px;
            // width: 100%;
            height: 300px;
            object-fit: contain;
            object-position: center;
          }
        }
        .service-info {
          width: 100%;
          padding: 30px;
          padding-top: 10px;
          h3 {
            margin-bottom: 10px;
          }
        }
      }
    }

    // main gallery
    .main-gallery {
      margin-bottom: 30px;
      .gallery-card {
        min-height: 400px;
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        margin-bottom: 50px;

        .gallery-img {
          padding: 15px;
          width: 100%;
          display: flex;
          justify-content: end;
          img {
            border-radius: 20px;
            // width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
          }
        }
        .gallery-info {
          width: 100%;
          padding: 30px;
          padding-top: 10px;
          h3 {
            margin-bottom: 10px;
          }
        }
      }
    }

    //main moreInfo
    .main-more-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      .more-info-card {
        margin-bottom: 25px;
      }
    }
  }
}

// footer
.footer-business {
  width: 100%;
}
