@media (max-width: 500px) {
  // header

  .header-business {
    // .header-nav {
    //   padding: 15px 60px;
    // }
  }

  .main-business {
    .header-content {
      flex-direction: column;

      .header-profile {
        flex-direction: column;

        figcaption {
          text-align: center;
          padding: 10px 0;
        }
      }

      .header-tools {
        display: flex;
        justify-content: center;

        .header-quick-access {
          display: flex;
          width: 100%;
          margin-top: 10px;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          i {
            font-size: 17px;
          }
        }
      }
    }

    .business-nav {
      margin: 0;
      ul {
        margin: 0 20px;
        li {
          font-size: 13px;
        }
      }
    }
  }

  // footer
  .footer-business {
  }
}
