@media (max-width: 500px) {
  // header

  .main-business {
    .header-content {
      flex-direction: column;

      .header-profile {
        flex-direction: column;

        figcaption {
          text-align: center;
          padding: 10px 0;
        }
      }

      .header-tools {
        display: flex;
        justify-content: center;

        .header-quick-access {
          display: flex;
          width: 100%;
          margin-top: 10px;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          i {
            font-size: 17px;
          }
        }
      }
    }

    .business-nav {
      margin: 0;
      ul {
        margin: 0 20px;
        li {
          font-size: 13px;
        }
      }
    }
  }

  .explorer-main-business {
    // business explorer
    .business-lists {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .home-main-business {
    .home-logo {
      img {
        width: 275px;
      }
    }
    .home-search {
      form {
        border-radius: 10px;
        margin: 0 20px;

        i {
          height: 35px;
          padding: 10px;
        }
        input {
          width: 150px;
          height: 35px;
          padding: 7px;
        }
        button {
          height: 35px;
          padding: 10px 15px;
          font-size: 13px;
        }
      }
    }
  }
}
