@media (max-width: 1024px) {
  // header
  // .header-business {
  //   // .header-nav {
  //   //   padding: 15px 150px;
  //   // }
  // }

  // main
  .main-business {
    .header-content {
      .header-tools {
        .header-qr-code {
          display: none;
        }
      }
    }
    .business-nav {
      margin: 15px 0;
      ul {
        margin: 0 100px;
        li {
          font-size: 14px;
        }
      }
    }
    .main-contents {
      .main-services {
        .service-card {
          grid-template-columns: repeat(1, 1fr);
          .service-img {
            justify-content: center;
          }
        }
        .service-img {
          order: 0;
        }
        .service-info {
          order: 1;
        }
      }

      .main-gallery {
        .gallery-card {
          grid-template-columns: repeat(1, 1fr);
          .gallery-img {
            justify-content: center;
          }
        }
        .gallery-img {
          order: 0;
        }
        .gallery-info {
          order: 1;
        }
      }
    }
  }

  .explorer-main-business {
    // business explorer
    .business-lists {
      grid-template-columns: repeat(3, 1fr);
    }

    .explorer-title-heading {
      flex-direction: column;
      .explorer-search-field {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  // footer
  .footer-business {
  }
}
